body {
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,monospace;
    user-select: none;
}

#yoshi {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 100ms;
    z-index: 0;
}

#yoshi.hit {
    transform: translate(-100%, -50%) scaleX(-100%);
}

#yoshi.block {
    transform: translate(-100%, -50%) scale(300%);
}

#hand {
    position: absolute;
    left: 90%;
    top: 30%;
    transform: translate(-50%, -50%);
    transition: left 100ms, transform 100ms;
}

#hand.block {
    transform: translate(-50%, -50%) rotate(720deg);
}

#hand.hit {
    left: 50%;
    transform: translate(-50%, -50%) scaleX(190%);
}

#count {
    position: absolute;
    z-index: 5
}